pipeline/copy_2_stages_with_lookup.json
{
	"name": "copy_2_stages_with_lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Parameterized_az_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table_name": "metadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy_first_stage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Parameterized",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().Inputcontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@item().Inputdirectory",
											"type": "Expression"
										},
										"file": {
											"value": "@item().Inputfile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Parameterized",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().Outputcontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@item().Outputdirectory",
											"type": "Expression"
										},
										"file": {
											"value": "@item().Outputfile",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy_from_Stage_sql_Server",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "copy_first_stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@concat('truncate table ', item().schema, '.', item().tablename)",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Parameterized",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@item().Outputcontainer",
											"type": "Expression"
										},
										"folder": {
											"value": "@concat(formatDateTime(utcnow(), 'dd_MM_yyy'),'/',item().Outputdirectory)",
											"type": "Expression"
										},
										"file": {
											"value": "@item().Outputfile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Parameterized_az_sql",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().schema",
											"type": "Expression"
										},
										"table_name": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "copy_first_stage",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_copy_status]",
								"storedProcedureParameters": {
									"status": {
										"value": {
											"value": "@activity('copy_first_stage').Status",
											"type": "Expression"
										},
										"type": "String"
									},
									"filename": {
										"value": {
											"value": "@item().Outputfile",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_adfsql2",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Copy_Data"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-15T14:40:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}