pipeline/Incremental_load_using_timestamp.json
{
	"name": "Incremental_load_using_timestamp",
	"properties": {
		"activities": [
			{
				"name": "lookup_new_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modified_date) as new_watermark from dbo.sales;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Parameterized_az_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table_name": "sales"
						}
					}
				}
			},
			{
				"name": "Lookup_old_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select watermark from dbo.old_watermark_target",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Parameterized_az_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table_name": "old_watermark_target"
						}
					}
				}
			},
			{
				"name": "Copy data_to_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_old_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lookup_new_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from dbo.sales where modified_date > '@{activity('Lookup_old_watermark').output.firstRow.watermark}' and modified_date < '@{activity('lookup_new_Watermark').output.firstRow.new_watermark}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Parameterized_az_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table_name": "sales"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"container": "input",
							"folder": "delta",
							"file": "delta.csv"
						}
					}
				]
			},
			{
				"name": "stored_procedure_to_update_watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_old_watermark]",
					"storedProcedureParameters": {
						"watermark": {
							"value": {
								"value": "@activity('lookup_new_Watermark').output.firstRow.new_watermark",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_adfsql2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy from blob to sql server",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data_to_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"sales_id"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Parameterized",
						"type": "DatasetReference",
						"parameters": {
							"container": "input",
							"folder": "delta",
							"file": "delta.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Parameterized_az_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table_name": "sales_target"
						}
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-05-08T08:10:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}