pipeline/PL_full_load_as3_monitor.json
{
	"name": "PL_full_load_as3_monitor",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_fullLoad_assignment3",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute email alert pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email_alert_web_app",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Subject": "Pipeline Failed Notification",
						"Message": "Pipeline  Starttime : @{pipeline().TriggerTime}\nBatch End Time :@{utcNow()}",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Store pipeline status",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[pipeline_status]",
					"storedProcedureParameters": {
						"pipeline_name": {
							"value": "PL_fullLoad_assignment3",
							"type": "String"
						},
						"pipeline_status": {
							"value": {
								"value": "@activity('Execute Pipeline1').Status",
								"type": "Expression"
							},
							"type": "String"
						},
						"execution_time": {
							"value": {
								"value": "@activity('Execute Pipeline1').ExecutionEndTime",
								"type": "Expression"
							},
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_adfsql2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}